* {
  box-sizing: border-box;
}

/*****GRID*****/

.row {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
}


body {
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-container {
  line-height: 1.5;
}

.header-info {
  display: flex;
  background-color: #161D6E;
  border: 1px solid black;
}

.main-nav-ul {
  padding: 0;
  display: flex;
}

.main-nav-link > a {
  padding: 10px;
  color: #E9D2B3;
}

.my-name {
  margin: 0;
  padding-top: 10px;
}

.intro-text {
  height: 600px;
  text-align: center;
  background: url('./images/DSC_0531.JPG') center no-repeat;
  /* background: no-repeat; */
  background-size: cover;
}

.bio-section, .work {
  text-align: center;
}


