* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong {
  font-weight: bold;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****GRID*****/

.row {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex: 1; */
  /* margin: 0 auto; */
}

.col {
  flex-basis: 100%;
  /* flex:1 */
  /* why does flex 1 mess with layout when put here// it sets flex grow to 1 */
}

/****Main Styles***/

.main-container {
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(209, 224, 238);

  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  background-color: #1160AA;
  width: 100%;
  flex: 1;
}

/* //anything with 1 child probbaly doesnt need display flex */


.top-nav {
  width: 100%;
}

.contact {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-link > a {
  padding: 10px;
}

.main-nav-ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}


.main-nav-link {
line-height: 40px;
}

.main-nav-link > a {
  padding: 10px;
  color: #E9D2B3;
}

.intro-container {
  height: 600px;
  background: center no-repeat;
  background-size: cover;
  color: #E9D2B3;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('./images/michael-271900.jpg');
}

.my-name {
  font-size: calc(80px + 2vw);
  margin: 0;
  text-align: center;
  padding-bottom: 100px;

}

.i-am, .my-title, .data-nerd, .athlete {
  text-align: center;
}


.intro-text {
  font-size: 30px;
}

.bio-section, .projects {
  background-color: #DEF3F6;
}

.bio-title, .projects-title, .interests-title {
  font-size: calc(50px + 2vw);
  color: #2F437C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bio-section, .projects, .interests-section {
  text-align: center;

}

.headshot, .concert-image, .lifting-image, .spartan-image {
  /* border: 1px solid #9BB4DA; */
  border-radius: 8px;
  max-width: 100%;
  padding: 10px;
  border-radius: 1em;

}

.bio-text-container {
  margin: 0 auto;
  max-width: 400px;
}

#bio-text, .concert-description {
  /* border: 1px solid black; */
  color: #2F437C;
  line-height: 1.5;
  font-size: 18px;
  padding: 15px;
} 

.projects {
}

.interests-title {
  color: #E9D2B3;
}

.interests-section {
  background-color: #1D2336;
}



/* //use min width to let larger screen css kick in */

@media screen and (min-width: 600px) {
  .column {
    flex: 1;
  }

  .bio-text-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
  
}

@media screen and (min-width: 700px) {
  .headshot-large-screen {
    width: 50%;
    float: left;

  }

  .bio-text-large {
    width: 50%;
    float: left;
  }
/* //clear both is in the next elemet; overfloew - we want just the parent affected by the floats, encloses the floating element so the next element doesnt consider this */
  .bio-section {
    overflow: hidden;
  }
}