@import './normalize.css';
@import './grid.css';


body {
font-family: 'Varela', sans-serif;
  background-color: #2C2E3E;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.top-nav {
  border-bottom: 1px solid #EE2B47;

}

.fa-lg, .fa-2x, .fas, .fab {
  color:#EE2B47;
}

.contact {
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.link {
  padding: 8px;
  margin-top: 10px;
}

.contact-link > a {
  text-decoration: none;
  color: #F6F6F6;
  padding: 10px;
}

.main-nav-ul {
  margin: 0;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 15px;
}

.main-nav-link > a {
  padding-right: 20px;
  color: #EE2B47;
  font-weight: lighter;
}

.intro-container {
  height: 200px;
  background: center no-repeat;
  background-size: cover;
  color: #F6F6F6;
  text-align: center;
}

.my-name {
  font-size: calc(40px + 2vw);
  padding-top: 20px;
  margin: 0;
  text-align: center;
  color: #F6F6F6;
}

.i-am, .my-title, .data-nerd, .athlete {
  text-align: center;
  color:#F6F6F6;
}

.athlete {
  padding-bottom: 15px;
}

.intro-text, .projects-title, .interests-title {
  font-size: 36px;
}

.bio-title, .projects-title, .interests-title {
  text-align: center;
  color: #F6F6F6;
}

.bio-text-container, .interests-text {
  margin: 0 auto;
  max-width: 400px;
  font-weight: normal;
}

#bio-text, .project-description {
  color: #F6F6F6;
  line-height: 1.8;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 0;
} 


.project {
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.concert-image, .cf-create, .project-image {
  max-width: 350px;
}

#quickconcert, #nutrition {
  font-size: 36px;
  font-weight: bold;
}

.project-details {
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #F6F6F6;

}

.project-code {
  padding: 10px;
  margin: 0;
  color: #2F437C;

}

.project-links, .project-links > a {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  color: #EE2B47;
  text-align: center;
}

.project-details > p {
  font-size: 24px;
  color: #F6F6F6;
  text-align: center;
  font-weight: normal;
}

.skills-icons {
  padding-bottom: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.interests-text-container {
  text-align: center;
}

.interests-title, .interests-text {
  color: #F6F6F6;
}

.interests-text {
  line-height: 1.5;
  font-size: 18px;
  padding: 15px;
}

.interests-text > a {
  font-size: 36px;
  color: #F6F6F6;
}

.back-to-top {
  margin-top: 15px;
  font-size: 36px;
  color: #F6F6F6;
  display: block;

}

.fa-angle-double-right {
  position: relative;
  top: -120px;
}

.lifting-image {
  max-width: 80%;
  padding: 10px;
  border-radius: 1em;
}

/* //use min width to let larger screen css kick in */

@media screen and (min-width: 575px) {
  .bio-text-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
  .card {
    display: block;
  }
}
footer {
  width: 100%;
  height: 35px;
  padding: 5px;
  text-align: center;
  position: absolute;
  background-color: #34374C;
  color: #F6F6F6;
}

@media screen and (min-width: 675px) {
  .bio-section {
    margin-top: 50px;
    margin: 0 auto;
  }

  .bio-text-container {
    overflow: auto;
  }
  .hamburger {
    display: none;
  }
  .main-nav-link {
    display: block;
  }
}

@media screen and (min-width: 760px) {
  .bio-section {
    display: flex;
  }
  .card {
    width: 40%;
    height: 40%;
    padding: 15px;
    margin-left: 10px;

  }
  .headshot {
    width: 100%;
  }
  bio-text {
    float: right;
  }
}

